node_modules
.env*
vars.json*
/web
/unanecessary*

# Environment files with real private keys (create .env for your real keys)
.env
.env.local
.env.production

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
