PHAROS_RPC=https://testnet.dplabs-internal.com
PHAROS_CHAIN_ID=688688
PHAROS_NAME=Pharos Testnet
PHAROS_SYMBOL=PHRS
PHAROS_EXPLORER=https://testnet.pharosscan.xyz
PHAROS_API=https://api.pharosnetwork.xyz
# Add your private keys here (DO NOT commit real private keys to Git!)
# PRIVATE_KEY_1=your_private_key_here
# PRIVATE_KEY_2=your_private_key_here
# PRIVATE_KEY_3=your_private_key_here
